---
layout: default
---

<article class="post">
  <h1><a href="https://doi.org/{{ pub.ref-doi}}">{% if pub.work-type == "preprint" %}<strong>Preprint </strong>{% endif %}{{ pub.ref-title}} ({{ pub.ref-year}})</a></h1>

  <div class="entry">
    <p>{{ page.ref-authors | markdownify }}</p>
    <p><em>{{ pub.ref-journal}}</em> {{ pub.ref-vol}} <a href="https://doi.org/{{ pub.ref-doi}}">{{ pub.ref-doi}}</a></p>
    <h3> Abstract </h3>
      {{ content }}
    {% if pub.preprint-doi != "NA" and pub.work-type != "preprint" %}<p>Originally a <a href="https://doi.org/{{ pub.preprint-doi}}">preprint</a>.</p>{% endif %}
  </div>

  <div class="date">
    Published on {{ page.date | date: "%B %e, %Y" }}
  </div>

  {% include disqus.html %}
</article>
