---
layout: default
---

<article class="post">
  <h1><a href="https://doi.org/{{ page.ref-doi}}">{% if page.work-type == "preprint" %}<strong>Preprint: </strong>{% endif %}{{ page.ref-title}} ({{ page.ref-year}})</a></h1>

  <div class="entry">
    <p>{{ page.ref-authors | markdownify }}</p>
    <p><em>{{ page.ref-journal}}</em> {{ page.ref-vol}} <a href="https://doi.org/{{ page.ref-doi}}">{{ page.ref-doi}}</a>
    {% if page.pdf-link != "" %}<a href={{ page.pdf-link | absolute_url}}> Download </a>{% endif %}</p>
    <h3> Abstract </h3>
      {{ content }}
    {% if page.preprint-doi != "NA" and page.work-type != "preprint" %}<p>Originally a <a href="https://doi.org/{{ page.preprint-doi}}">preprint</a>.</p>{% endif %}
  </div>
  
  <div class='altmetric-embed' data-badge-type='donut' data-doi="{{ page.ref-doi}}" style="float: left;width: 100px;"></div>
  <span class="__dimensions_badge_embed__" data-doi="{{ page.ref-doi}}" data-style="small_circle""></span>
  <br />
  <div class="date">
    Published on {{ page.date | date: "%B %e, %Y" }}
  </div>

  {% include disqus.html %}
</article>
<script type='text/javascript' src='https://d1bxh8uas1mnw7.cloudfront.net/assets/embed.js'></script>
<script async src="https://badge.dimensions.ai/badge.js" charset="utf-8"></script>