---
layout: default
---

<article class="post">
  <h1><a href="https://doi.org/{{ page.ref-doi}}">{% if page.work-type == "preprint" %}<strong>Preprint: </strong>{% endif %}{{ page.ref-title}} ({{ page.ref-year}})</a></h1>

  <div class="entry">
    <p>{{ page.ref-authors | markdownify }}</p>
    <p><em>{{ page.ref-journal}}</em> {{ page.ref-vol}} <a href="https://doi.org/{{ page.ref-doi}}">{{ page.ref-doi}}</a>
    {% if page.pdf-link != "" %}<a href={{ page.pdf-link | absolute_url}}>PDF</a>{% endif %}</p>
    <h3> Abstract </h3>
      {{ content }}
    {% if page.preprint-doi != "NA" and page.work-type != "preprint" %}<p>Originally a <a href="https://doi.org/{{ page.preprint-doi}}">preprint</a>.</p>{% endif %}
  </div>

  <div class="date">
    Published on {{ page.date | date: "%B %e, %Y" }}
  </div>

  {% include disqus.html %}
</article>
